extends layout 

block main 
  div(class="container")
    div(class="row text-center")
      a(href=`/churches/${churchName}/series/page/1`)
        h2=churchName
    div(class="row")
      each series in churchSeries
        div(class="col-xs-2 col-sm-6 col-md-3 col-lg-4 col-xl-6 text-center")
          a(href=`/churches/${churchName}/series/${series}/sermons/page/1`)
            h3=series
    div(class="row text-center")
      each page in pageArray
        if page === +currentPage
          ul(class="pagination")
            li(class="page-item active")
              a(href=`/churches/${churchName}/series/page/${page}`)
                h6=page
        else
          ul(class="pagination")
            li(class="page-item")
              a(href=`/churches/${churchName}/series/page/${page}`)
                h6=page

